body {
    color: black;
    font-size: larger;
    background-color: rgb(226, 206, 206);
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#post {border-radius: 0px 200px 0px 200px;
    -moz-border-radius: 0px 200px 0px 200px;
    -webkit-border-radius: 0px 200px 0px 200px;
    border: 11px solid #0fca4d;
 
}
#post h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}